<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="兰州交通大学小助手反馈通道">
    <meta name="keywords" content="微信反馈,小助手反馈">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>兰州交通大学小助手 | 反馈</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="__PUBLIC__/i/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css">
</head>
<body>

<header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title">
        <a href="#title-link" class="">吐槽小助手</a>
    </h1>
</header>

<form class="am-form" id="feedback">
    <fieldset>
        <div class="am-form-group">
            <label for="doc-select-1">反馈类型：</label>
            <select id="doc-select-1" name="type">
                <option value="">请选择...</option>
                <option value="jiaowu">教务功能</option>
                <option value="gouda">勾搭功能</option>
                <option value="cooperation">商务合作</option>
                <option value="else">其他</option>
            </select>
            <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
            <label for="doc-ta-1">建议 or 遇到的问题？</label>
            <textarea class="" rows="5" id="doc-ta-1" name="suggestion" placeholder="吐槽几句呗..."></textarea>
        </div>
        <p><button type="button" class="am-btn am-btn-primary am-round am-btn-block" id="submit_btn"> 提交小助手 </button></p>
    </fieldset>
</form>



<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">

    <div class="am-footer-miscs ">
        <p>Designed By
            <a href="http://www.luoning.me/" title="Luo Ning" target="_blank" class="">Luo Ning</a></p>
        <p> CopyRight ©2015 All Rights Reserved.</p>
        <p>陇ICP备15000561号</p>
    </div>
</footer>


<!--弹出模拟alert start-->
<include file="Public:alert" title="温馨提示" content="发生一点错误，请再试一次～"  id="my-alert_err"/>
<include file="Public:alert" title="温馨提示" content="已经成功提交给小助手！"  id="my-alert"/>
<include file="Public:alert" title="缺少内容" content="说点什么吧！"  id="my-alert_suggestion"/>
<include file="Public:alert" title="请选择类型" content="选择一个类型，这样小助手才能更好的解决您的问题！"  id="my-alert_type"/>
<!--模拟alert end-->

<!--Modal Loading start-->
<include file="Public:loading" content="正在提交..."  id="my-modal-loading"/>
<!--Modal Loading end-->


<!--[if lt IE 9]>
<script src="//libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="//libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->

<script src="//libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--<![endif]-->
<script type="text/javascript">
    wx.config({
//        debug:true,
        appId: '{$signPackage.appId}',
        timestamp: {$signPackage.timestamp},
        nonceStr: '{$signPackage.nonceStr}',
        signature: '{$signPackage.signature}',
        jsApiList: [
        'hideAllNonBaseMenuItem',
        'closeWindow',
    ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function () {
        wx.hideAllNonBaseMenuItem();
    });
</script>
<script type="text/javascript">
    var url = "{:U('Feedback/handle')}";
    var type = $( 'select[name=type]' );
    var suggestion = $( 'textarea[name=suggestion]' );
    var openid = '{$openid}';
    console.log(type);
    $(function(){
        $('#submit_btn').on('click', function () {
            if (type.val() == '') {
                $('#my-alert_type').modal();
                type.focus();
                return;
            }
            if (suggestion.val() == '') {
                $('#my-alert_suggestion').modal();
                suggestion.focus();
                return;
            }
            $('#my-modal-loading').modal();
            $.post(url,{suggestion:suggestion.val(),type:type.val(),openid:openid},function(data){
                console.log(data);
                if(data.status == 1){
                    $('#my-modal-loading').modal('close');
                    $('#my-alert').modal();
                    //reset表单
                    $('#feedback')[0].reset();
                }else{
                    $('#my-modal-loading').modal('close');
                    $('#my-alert_err').modal();
                }
            });
        })

        $('#my-alert').on('closed.modal.amui', function(){
            wx.closeWindow();
        });
    })
</script>



</body>
</html>
    